<nav class='mainNav'>
  <h1>Personal CGM Tracker</h1>
  <ul class="ul">
    <li><a href="/">home</a></li>
    <li><a href="/profile">profile</a></li>

    <%if (user) {%>
      <li> <a href="/auth/logout">logout</a></li>
    <%} else {%>
      <li><a href="/auth/login">login</a></li>
    <%}%>

  </ul>
</nav>
