.profileNav {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      list-style: none;
    }

    a {
      @extend .link;
      padding: 3%;
    }
  }
}