<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
    <title>personal tracker</title>
  </head>
  <body>
<% include partials/nav %>
<p>home sweet bloodsugar</p>
  </body>
</html>
