<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>
    <title>personal tracker</title>
  </head>
  <body>
<% include partials/nav %>
<main class="home">
<h2>home sweet bloodsugar</h2>
<p class="homeDesc">
  An easy way to track your Highs and Lows over the span of a day.  Using the Dexcom CGM you can review how you responded to events over a span of up to 90 days.
</p>

</main>
  </body>
</html>
