<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>home sweet bloodsugar</p>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/auth/login">login</a></li>
        <li> <a href="/auth/logout">logout</a></li>
      </ul>
    </nav>

  </body>
</html>
