<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%=info.calibrations.start.displayTime%></p>
    <p><%=info.calibrations.end.displayTime%></p>
  </body>
</html>
