<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include partials/head %>
    <title>user info</title>
  </head>
  <body>
  <% include partials/nav %>

    <% include partials/profileNav %>
    <h2>Profile</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Last Use Date</th>
      </tr>
      <tr>
        <td><%= user.username %></td>
        <td><%= format(data.egvs.start.displayTime) %></td>
        <td><%= format(data.egvs.end.displayTime) %></td>
      </tr>
    </table>


  </body>
</html>
