<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">home</a>
    <a href="/auth/dexcom">login with dexcom</a>
  </body>
</html>
