<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello <%= user.username %></h1>
    <a href="/">home</a>

    <a href="/data/range">Get Range of collected data</a>
    <a href="/data/egvs">see my numbas</a>

  </body>
</html>
