<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include partials/head %>
    <title>profile</title>
  </head>
  <body>
    <% include partials/nav %>
      <main class="profileMain">
    <h3>Welcome to Personal CGM Tracker <%= user.username %></h3>
    <!-- <a href="/">home</a> -->
<aside class="aside">
  <a href="/data/range">CGM</a>
  <a href="/data/devices">Device Settings</a>
  <a href="/data/egvs">BG Levels</a>
</aside>
<div class="image">

</div>

  </main>

    <!-- <a href="/data/stats">my statistics</a> -->

  </body>
</html>
